<div class="row content-wrapper">
  <div class="col-md-12 col-lg-4 py-lg-4 py-md-0 ml-lg-5 ml-sm-0 content-avatar">
    <%= image_tag person.picture_url %>
  </div>
  <div class="col-md-12 col-lg-7 my-4 content-box d-flex flex-column justify-content-between">
    <div class="row">
      <div class="col-12">
        <div class="content-header">
          <h2><%= person.name.downcase %></h2><br>
          <%= render "shared/greeting", person: person %>
        </div>
      </div>
    </div>
    <div class="content-text">
      <div class="row">
        <div class="col-6">
          <h3>Homeworld:</h3>
          <p><%= person.planet.name %></p>
          <h3>Species:</h3>
          <p><%= person.race.kind %></p>
          <h3>Weight (Kg):</h3>
          <p><%= person.weight.upcase %></p>
          <h3>Hair:</h3>
          <p><%= person.hair.capitalize %></p>
        </div>
        <div class="col-6">
          <h3>Birth Year:</h3>
          <p><%= person.dob.upcase %></p>
          <h3>Gender:</h3>
          <p><%= person.gender.capitalize %></p>
          <h3>Height (cm):</h3>
          <p><%= person.height %></p>
          <h3>Eye:</h3>
          <p><%= person.eye.capitalize %></p>
        </div>
      </div>
    </div>
  </div>
</div>
